<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="simpleDiConfigurationSection"
             type="SimpleDiConfigurationSection,GPS.SimpleDI.Configuration" 
             requirePermission="false" />
  </configSections>
  <simpleDiConfigurationSection typeName="System.String" typeNamespace="System">
    <objects>
      <add key="string">
        <constructors>
          <add key="Default"/>
          <add key="WithString">
            <constructorParameters>
              <add name="value" typeName="System.Char[]" typeNamespace="System" />
            </constructorParameters>
          </add>
        </constructors>
      </add>
    </objects>
  </simpleDiConfigurationSection>
</configuration>