<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="simpleDiConfigurationSection"
             type="GPS.SimpleDI.Configuration.SimpleDiConfigurationSection,GPS.SimpleDI.Configuration"
             requirePermission="true" />
  </configSections>
  <simpleDiConfigurationSection>
    <objects>
      <add key="string" typeName="System.String" typeNamespace="mscorlib">
        <constructors>
          <add key="Default"/>
          <add key="WithString">
            <constructorParameters>
              <add name="value" typeName="System.Char[]" typeNamespace="mscorlib" />
            </constructorParameters>
          </add>
        </constructors>
      </add>
    </objects>
  </simpleDiConfigurationSection>
</configuration>